

{% schema %}
  {
    "name": "About us Hero",
    "settings": [
      {
        "type": "image_picker",
        "label": "Hero Image",
        "id": "hero_image"
      }
    ]
  }
{% endschema %}

<style>
  .full-hero{
    background-image:url("{{ section.settings.hero_image | image_url }}");
    width:100%;
    height: 720px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #hero-text{
    width:100%;
    text-align:center;
  }

</style>

{% javascript %}
{% endjavascript %}

<div class='full-hero'>
  <!-- <h2 id="hero-text">ABOUT US</h2> -->
</div>
<div class='full-hero-image'>
  
</div>