@charset "UTF-8";
@font-face {
  font-family: BonVoyageRegular;
  src: url(MADERegular.otf);
}
@font-face {
  font-family: BonVoyagethin;
  src: url(MADEThin.otf);
}
.hover-underline-white {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-white::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-white:hover::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}

.hover-underline-color {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-color::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #e9442c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-color:hover::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}

header .menu-wrapper {
  height: 55px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  backdrop-filter: blur(94px) brightness(100%);
  -webkit-backdrop-filter: blur(94px) brightness(100%);
}
header .menu-wrapper li {
  z-index: 2;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.hero {
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .elevate-your {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}
.hero .span {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -3.52px;
}
.hero .text-wrapper-2 {
  font-family: "EB Garamond", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  letter-spacing: -2.52px;
}
.hero .text-wrapper-3 {
  font-family: "EB Garamond", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  letter-spacing: -2.52px;
}
.hero .text-wrapper-shop {
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  font-family: "Plus Jakarta Sans", Helvetica;
}
.hero .rectangle {
  width: 83px;
  height: 1px;
  top: 27px;
  left: 0;
  background-color: #ffffff;
}
@media (max-width: 400px) {
  .hero .span {
    font-size: 35px;
  }
  .hero .text-wrapper-2 {
    font-size: 35px;
  }
  .hero .text-wrapper-3 {
    font-size: 35px;
  }
}

.page-header {
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header h1 {
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  font-family: BonVoyagethin, Helvetica !important;
}
.page-header p {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.top-sellers .section-header p {
  color: #000000;
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.top-sellers .section-header h1 {
  font-family: BonVoyagethin, Helvetica !important;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.top-sellers .section-header a {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #e9442c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.top-sellers .products .product-details h1 {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.top-sellers .products .product-details h4 {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 500;
  color: #e9442c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about__details p {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}
.about__details h1 {
  line-height: 26px;
  color: white;
}
.about__details .browse {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1.98px;
  line-height: 36.9px;
}
.about__details .our {
  font-family: "EB Garamond", Helvetica;
  font-weight: 500;
  font-size: 36px;
  font-style: italic;
}
.about__details .cutlerry {
  font-family: "EB Garamond", Helvetica;
  font-weight: 500;
  font-size: 36px;
  font-style: italic;
}
.about__details .collect {
  font-size: 36px;
  font-weight: 600;
}
.about__details a {
  color: white;
}

.top-products__text p {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.top-products__text h1 {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 600;
  color: #e9442c;
  letter-spacing: 0;
  line-height: normal;
}
.top-products__text h4 {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: normal;
}
.top-products__text a {
  padding: 13px 27px;
  border-radius: 34px;
  border: 1px solid;
  border-color: #e9442c;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.our-products .section-header p {
  color: #000000;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.our-products .section-header h1 {
  font-family: BonVoyagethin, Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.our-products .section-header a {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #e9442c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.our-products .products .product-details h1 {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.our-products .products .product-details h4 {
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: #e9442c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.call-to-action .section-header p {
  color: #000000;
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.call-to-action .section-header h1 {
  font-family: BonVoyagethin, Helvetica !important;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}
.call-to-action .section-header a {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 400;
  color: #e9442c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.explore .section-header h1 {
  font-family: BonVoyagethin, Helvetica !important;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}
.explore__text-wrap .explore-text {
  font-family: "EB Garamond", Helvetica !important;
  font-weight: 400;
  font-style: italic;
  line-height: 40px;
}
.explore__text-wrap .explore-text1 {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-style: italic;
  line-height: 40px;
  font-weight: 300;
}

footer .footer__top h1 {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 500;
  color: #e9442c;
  letter-spacing: -0.5;
  line-height: 28px;
  white-space: nowrap;
}
footer .footer__top p {
  font-family: "Plus Jakarta Sans", Helvetica !important;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 14px;
  white-space: nowrap;
  opacity: 0.4;
}
footer .footer__top input {
  max-width: 100% !important;
  padding: 10px;
  background-color: #0e0e0e;
  color: white;
  border: none;
}
footer .footer__top input:focus {
  border: none;
  outline: none;
}
footer .footer__top button {
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  background-color: #e9442c;
  border-radius: 46px;
  margin-left: -93px;
}
footer .footer__middle h1 {
  font-weight: 100;
  color: #e9442c;
  font-size: 54px;
  letter-spacing: normal;
  line-height: 56px;
  white-space: nowrap;
  font-family: "Plus Jakarta Sans", Helvetica !important;
}
footer .footer__mobile_middle .accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 35px;
  transition: 0.4s;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #e9442c;
  letter-spacing: 0;
  line-height: normal;
}
footer .footer__mobile_middle .active, footer .footer__mobile_middle .accordion:hover {
  background-color: #ccc;
}
footer .footer__mobile_middle .accordion:after {
  content: "⌄";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 25px;
}
footer .footer__mobile_middle .active:after {
  content: "−";
}
footer .footer__mobile_middle .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
