.about-greeting{
    &__text{
        h1{
            font-family: "MADE Bon Voyage";
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        p{
            color: #000;
            font-family: "Plus Jakarta Sans";
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
        }
    }
}

.ourstory{
    h1{
        font-family: "MADE Bon Voyage";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    p{
        color: #000;
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}