//functions 
// @mixin text-font($color,$fontfamily,$size,$weight){
//     color:$color;
//     font-family: 'League Spartan';
//     font-size: $size;
//     letter-spacing: 0;
//     font-weight: $weight;
//     line-height: normal;
//   }
@font-face {
    font-family: BonVoyageRegular;
    src: url(MADERegular.otf);
 }
 
 @font-face {
    font-family: BonVoyagethin;
    src: url(MADEThin.otf);
 }
 //general style
 .hover-underline-white {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-white::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-white:hover::after {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

  .hover-underline-color {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-color::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #e9442c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-color:hover::after {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

header{
    // .menu-background{
    //     background-image: url("https://cdn.shopify.com/s/files/1/0631/5917/3326/files/explore3.png?v=1708170642"); 
       
    //     filter: blur(5px);
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     position: relative;
    //     // -webkit-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    //     // filter: blur(5px); /* Supported in all major browsers */
    
    //     height: 100%;
    // }
    .menu-wrapper{
        height: 55px;
        background-color: rgba(256 , 256,256,0.5);
        overflow: hidden;
        backdrop-filter: blur(94px) brightness(100%);
        -webkit-backdrop-filter: blur(94px) brightness(100%);
        
       


        li{
            z-index: 2;
            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 500;
            color: #000000;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
    }
}


.hero{
    // background-image: url("../img/hero.png"); 
    background-color: #cccccc; 
    // height: 500px;
    // background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    .elevate-your{
        font-family: "Plus Jakarta Sans", Helvetica;
        font-weight: 600;
        color: #ffffff;
        letter-spacing: 0;
        line-height: normal;
    }

    .span{
        font-family: "Plus Jakarta Sans", Helvetica;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: -3.52px;
    }

    .text-wrapper-2{
        font-family: "EB Garamond", Helvetica;
        font-weight: 500;
        font-style: italic;
        color: #ffffff;
        letter-spacing: -2.52px;
    }

    .text-wrapper-3 {
        font-family: "EB Garamond", Helvetica;
        font-weight: 600;
        font-style: italic;
        color: #ffffff;
        letter-spacing: -2.52px;
    }

    .text-wrapper-shop {
        font-weight: 600;
        color: #ffffff;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        font-family: "Plus Jakarta Sans", Helvetica;
    }

   .rectangle {
        width: 83px;
        height: 1px;
        top: 27px;
        left: 0;
        background-color: #ffffff;
    }

    @media (max-width: 400px) {
        .span{
            font-size: 35px;
        }
        .text-wrapper-2{
            font-size: 35px;
        }
        .text-wrapper-3{
            font-size: 35px;
        }
        // background-position: 26% 50%; 
    }
}

.page-header{
    // background-image: url("../img/hero.png"); 
    // background-color: #504e4e; 
    // height: 500px;
    // background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    h1{
        text-shadow: 2px 3px 5px #050505;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: 0;
        line-height: normal;
        font-family: BonVoyagethin, Helvetica!important;  
    }
    p{
        text-shadow: 2px 3px 5px #050505;
        font-family: "Plus Jakarta Sans", Helvetica!important;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: 0;
        line-height: normal;
    }
}


.top-sellers{

    .section-header{
        p{
            color: #000000;
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
        h1{
            font-family: BonVoyagethin, Helvetica !important;
            font-weight: 400;
            color: #000000;
            font-size: 36px;
            letter-spacing: 0;
            line-height: normal;
        }
        a{
            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 400;
            color: #e9442c;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
    }

    .products{
        .product-details{
            h1{
                font-family: "Plus Jakarta Sans", Helvetica!important;
                font-weight: 500;
                color: #000000;
                font-size: 16px;
                letter-spacing: 0;
                line-height: normal;
            }
            h4{
                font-family: "Plus Jakarta Sans", Helvetica!important;
                font-weight: 500;
                color: #e9442c;
                font-size: 16px;
                letter-spacing: 0;
                line-height: normal;
            }
        }
    }
}

.about{
    &__details{
        p{
            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 300;
            color: #ffffff;
            font-size: 13px;
            letter-spacing: 0;
            line-height: normal;
        }
        h1{
            line-height: 26px;
            color:white;
        }
        .browse{
            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 36px;
            letter-spacing: -1.98px;
            line-height: 36.9px;
        }
        .our{
            font-family: "EB Garamond", Helvetica;
            font-weight: 500;
            font-size: 36px;
            font-style: italic;
        }
        .cutlerry{
            font-family: "EB Garamond", Helvetica;
            font-weight: 500;
            font-size: 36px;
            font-style: italic;
        }
        .collect{
            font-size: 36px;
            font-weight: 600;
        }
        a{
            color:white;
        }
    }
}

.top-products{
    &__text{
        p{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 300;
            font-size: 16px;
            // color: #ffffff;
            letter-spacing: 0;
            line-height: normal; 
        }

        h1{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 600;
            color: #e9442c;
            letter-spacing: 0;
            line-height:normal;
        }
        h4{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 300;
            color: #ffffff;
            letter-spacing:0px;
            line-height: normal;
        }
        a{
            padding: 13px 27px;
            border-radius: 34px;
            border: 1px solid;
            border-color: #e9442c;
            color:white;
            width:fit-content;
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0;
            line-height:normal;
        }
    }
}

.our-products{

    .section-header{
        p{
            color: #000000;
            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
        h1{
            font-family: BonVoyagethin, Helvetica;
            font-weight: 400;
            color: #000000;
            font-size: 36px;
            letter-spacing: 0;
            line-height: normal;
        }
        a{
            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 400;
            color: #e9442c;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
    }

    .products{
        .product-details{
            h1{
                font-family: "Plus Jakarta Sans", Helvetica;
                font-weight: 500;
                color: #000000;
                font-size: 16px;
                letter-spacing: 0;
                line-height: normal;
            }
            h4{
                font-family: "Plus Jakarta Sans", Helvetica;
                font-weight: 500;
                color: #e9442c;
                font-size: 16px;
                letter-spacing: 0;
                line-height: normal;
            }
        }
    }
}

.call-to-action{

    .section-header{
        p{
            color: #000000;
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
        h1{
            font-family: BonVoyagethin, Helvetica!important;
            font-weight: 400;
            color: #000000;
            letter-spacing: 0;
            line-height: normal;
        }
        a{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 400;
            color: #e9442c;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }
    }
}

.explore{

    .section-header{
        h1{
            font-family: BonVoyagethin, Helvetica!important;  
            font-weight: 400;
            color: #000000;
            letter-spacing: 0;
            line-height: normal;
        }
    }

    &__text-wrap{
        .explore-text{
            font-family: "EB Garamond", Helvetica!important;
            font-weight: 400;
            font-style: italic;
            line-height: 40px;
        }
        .explore-text1{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-style: italic;
            line-height: 40px;
            font-weight: 300;
        }
    }
}

footer{
    .footer__top{
        h1{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 500;
            color: #e9442c;
            letter-spacing: -0.5;
            line-height: 28px;
            white-space: nowrap;
        }
        p{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 400;
            color: #ffffff;
            font-size: 16px;
            line-height: 14px;
            white-space: nowrap;
            opacity: 0.4;
        }
        input{
            max-width: 100%!important;
            padding: 10px;
            background-color: #0e0e0e;
            color:white;
            border: none;
        }
        input:focus{
            border:none;
            outline: none;
        }
        button{
            align-items: center;
            justify-content: center;
            padding: 10px;
            position: absolute;
            background-color: #e9442c;
            border-radius: 46px;
            margin-left: -93px;
        }
    }
    .footer__middle{
        h1{
            font-weight: 100;
            color: #e9442c;
            font-size: 54px;
            letter-spacing: normal;
            line-height: 56px;
            white-space: nowrap;
            font-family: "Plus Jakarta Sans", Helvetica!important;
        }
    }

    .footer__mobile_middle{
        .accordion {
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 35px;
            transition: 0.4s;

            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 400;
            color: #e9442c;
            letter-spacing: 0;
            line-height: normal;
          }
          
          .active, .accordion:hover {
            background-color: #ccc;
          }
          
          .accordion:after {
            content: '\2304';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
            font-size: 25px;
          }
          
          .active:after {
            content: "\2212";
          }
          
          .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
          }
    }
}