.product{
    &__text{
        h1{
            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 600;
            color: #e9442c;
            font-size: 48px;
            letter-spacing: 0;
            line-height: normal;
        }
        h4{
          font-family: "Plus Jakarta Sans", Helvetica!important;
        }
    }
    &__price{
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            
          }
          input[type=number]:focus{
            border:none;
            outline: none;
        }
        input[type=number]{
            font-size: 20px;
        }
        button{
            font-size: 20px;
        }

        .amount{
          font-family: "Plus Jakarta Sans", Helvetica!important;
        }
        .stock-check{
          font-family: "Plus Jakarta Sans", Helvetica!important;
        }
    }
    &__accordion{
        .accordion {
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;

            font-family: "Plus Jakarta Sans", Helvetica!important;
            font-weight: 400;
            color: #000000;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
          }
          
          .active, .accordion:hover {
            background-color: #ccc;
          }
          
          .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
          }
          
          .active:after {
            content: "\2212";
          }
          
          .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
          }
    }
}